@model CCIA2.Models.CourseTeacher

<div class="member_bg form-horizontal">
    <h3>編輯講師資料</h3>

    @using (Html.BeginForm("EditTeacher", "CourseTeacher", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.sqno)
        @*@Html.HiddenFor(model => model.courseSqno)*@
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "text-right col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.name, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name, null, new { @class = "help-inline text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.orgName, htmlAttributes: new { @class = "text-right col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.orgName, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.orgName, null, new { @class = "help-inline text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="text-right col-sm-2 control-label">課程列表</label>
            <div class="col-sm-10">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.courses.FirstOrDefault().course.topic)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model.courses.FirstOrDefault().course.title)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model.courses.FirstOrDefault().course.day)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var courseTeacherR in Model.courses)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => courseTeacherR.course.topic)</td>
                                <td>@Html.DisplayFor(modelItem => courseTeacherR.course.title)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => courseTeacherR.course.day)
                                @Html.DisplayFor(modelItem => courseTeacherR.course.startTime)~@Html.DisplayFor(modelItem => courseTeacherR.course.endTime)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.introduction, htmlAttributes: new { @class = "text-right col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.introduction, htmlAttributes: new { @class = "form-control", @id = "textArea-introduction" })
                @Html.ValidationMessageFor(model => model.introduction, null, new { @class = "help-inline text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
@*<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>*@
<script src="/Scripts/tinymce/tinymce.min.js"></script>
<script src="/Scripts/tinymce/jquery.tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#textArea-introduction',
        plugins: [
          'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
          'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
          'save table contextmenu directionality emoticons template paste textcolor'
        ],
        content_css: 'css/content.css',
        menubar: 'file edit view format tools table',
        toolbar: [
            'code | undo redo | cut copy paste | bold italic underline strikethrough | styleselect formatselect fontselect fontsizeselect  ',
            'bullist numlist outdent indent | alignleft aligncenter alignright alignjustify | link searchreplace table | forecolor backcolor'
        ],
        height: 400
    });
</script>
