@model CCIA2.Models.ViewModels.HomePageViewModel

@using CCIA2.Models
@using CCIA2.Models.ViewModels
@{
    Layout = null;
}

<script>
$(document).ready(function () {
    bPopupSetting();
    brochure_paginationSetting();
});
</script>
<script>
    function brochure_paginationSetting() {
        var tabDiv = $('#@BrochureViewModel.tabId');

        tabDiv.find(".pagination input").addClass("btn btn-default btn-sm");

        tabDiv.find("ul > li > input.btn-page").click(function () {
            tabDiv.find(".PageNumber").val($(this).attr("value"));
            return true;
        });

        tabDiv.find("ul > li > input.btn-page").eq(@Model.brochureViewModel.pagedList.PageIndex).addClass("active");
        tabDiv.find("ul > li > input.btn-previous-page").click(function () {
            if (@Model.brochureViewModel.pagedList.PageIndex > 0) {
                tabDiv.find(".PageNumber").val(@Model.brochureViewModel.pagedList.PageNumber -1);
                return true;
            }
            else {
                return false;
            }
        });
        tabDiv.find("ul > li > input.btn-next-page").click(function () {
            if ((@Model.brochureViewModel.pagedList.PageIndex) < (@Model.brochureViewModel.pagedList.PageCount-1)) {
                tabDiv.find(".PageNumber").val(@Model.brochureViewModel.pagedList.PageNumber + 1);
                return true;
            }
            else {
                return false;
            }
        });

        tabDiv.find("input.btn-search").click(function(){
            tabDiv.find(".PageNumber").val(1);
            return true;
        });
    }
</script>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, htmlAttributes: new { }))
{
    @Html.HiddenFor(model => model.selectedTabLinkId, new { Value = @BrochureViewModel.tabLinkId })
    @Html.HiddenFor(model => model.selectedTabId, new { Value = @BrochureViewModel.tabId })
    <div class="container">
        <div class="col-sm-2 pull-right">
            @Html.ActionLink("新增簡章", "CreateBrochureAndAnnouncement", new { type = BrochureAndAnnouncement.TYPE_BROCHURE }, htmlAttributes: new { @class = "btn btn-info bpopup", target = "_blank" })
        </div>
    </div>
    <br />

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => Model.brochureViewModel.pagedList.FirstOrDefault().title)</th>
                <th>@Html.DisplayNameFor(x => Model.brochureViewModel.pagedList.FirstOrDefault().startDate)</th>
                <th>@Html.DisplayNameFor(x => Model.brochureViewModel.pagedList.FirstOrDefault().endDate)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model != null && Model.brochureViewModel.pagedList != null)
            {
                foreach (var item in Model.brochureViewModel.pagedList)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.title)</td>
                        <td>@Html.DisplayFor(x => item.startDate)</td>
                        <td>@Html.DisplayFor(x => item.endDate)</td>
                        <td>
                            @Html.ActionLink("編輯", "EditBrochureAndAnnouncement", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default bpopup" })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @Html.HiddenFor(model => model.brochureViewModel.pageNumber, htmlAttributes: new { @class = "PageNumber" })
    <ul class="pagination">
        @if (Model != null && Model != null && Model.brochureViewModel.pagedList != null)
        {
            <li class=""><input type="submit" value=&laquo; class="btn-previous-page" /></li>
            for (int i = 1; i <= Model.brochureViewModel.pagedList.PageCount; i++)
            {
                <li><input type="submit" value=@i class="btn-page" /></li>
            }
            <li class=""><input type="submit" value=&raquo; class="btn-next-page" /></li>
            <text>共 @Model.brochureViewModel.pagedList.TotalItemCount 筆資料</text>
        }
    </ul>
}


