@model CCIA2.Models.ViewModels.MemberTrailViewModel

<div class="member_bg container">
    <h3>初審</h3>
    @using (Html.BeginForm("FirstTrail", "Member", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.sqno)

        <div class="col-sm-2 ">
            @Html.LabelFor(model => model.score, new { @class = "control-label" })
            <div class="">
                @Html.TextBoxFor(model => model.score, htmlAttributes: new { @class = "form-control", placeholder = "分數" })
                @Html.ValidationMessageFor(model => model.score, null, new { @class = "help-inline text-danger" })
            </div>
        </div>
        <div class="col-sm-6 ">
            @Html.LabelFor(model => model.desc, new { @class = "control-label" })
            <div class="">
                @Html.TextBoxFor(model => model.desc, htmlAttributes: new { @class = "form-control", placeholder = "意見" })
                @Html.ValidationMessageFor(model => model.desc, null, new { @class = "help-inline text-danger" })
            </div>
        </div>
        <div class="col-sm-1 pull-right">
            <input type="submit" value="送出" class="btn btn-primary" />
        </div>
    }
</div>
<br />
@Html.Partial("Details", Model.member)

<script>
    $(document).ready(function () {
        $("form").submit(function () {
            return confirm("確定要送出? 送出後將無法再修改!");
        });
    });
</script>