@using CCIA2.Models
@model CCIA2.Models.ViewModels.MemberSearchViewModel

@{
    var user = @Session[SessionKey.USER] as SysUser;
}
<input type="hidden" id="userRole" value="@user.role"/>

<div class="bs-component">
    <ul class="nav nav-tabs">
        <li class=""><a href="#tab_memberType1" id="li-memberType1" data-toggle="tab" aria-expanded="true">經紀仲介學員</a></li>
        @if (user.role != 2)
        {
            <li class=""><a href="#tab_memberType2" id="li-memberType2" data-toggle="tab" aria-expanded="true">歷屆會員</a></li>
            <li class=""><a href="#tab_memberType3" id="li-memberType3" data-toggle="tab" aria-expanded="true">一般會員</a></li>
        }
    </ul>
    <div class="tab-content  member_bg">
        <div id="tab_memberType1" class="fade tab-pane ">
            @Html.Partial("~/Views/Member/index_memberType1.cshtml")
        </div>
        <div id="tab_memberType2" class="fade tab-pane ">
            @Html.Partial("~/Views/Member/index_memberType2.cshtml")
        </div>
        <div id="tab_memberType3" class="fade tab-pane ">
            @Html.Partial("~/Views/Member/index_memberType3.cshtml")
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // 決定要顯示的頁籤
        $("#li-memberType"+@Model.memberTypeNo).trigger("click");
    });
</script>
<script>
    // 下載報表
    $(document).ready(function () {
        $("#btn-downloadMemberReport").click(function () {
            //alert("download click");
            try {
                var searchText = $("#textBox-searchText").val();
                var memberTypeNo = $("#hidden-memberTypeNo").val();
                var step = $("#select-step").val();
                var group = $("#select-group").val();
                var enrollType = $("#select-enrollType").val();
                var url = "/Member/DownloadReport?searchText=" + searchText + "&memberTypeNo=" + memberTypeNo + "&step=" + step + "&group=" + group + "&enrollType=" + enrollType;
                //alert(url);
                window.location.href = url;
                return true;
            }
            catch (e) {
                return false;
            }
        });
    });
</script>
<script>
    // 分頁相關設定
    $(document).ready(function () {
        $("ul > li > input").addClass("btn btn-default btn-sm");
        $("ul > li > input.btn-page").click(function () {
            $("#PageNumber").val($(this).attr("value"));
            return true;
        });

        $("ul > li > input.btn-page").eq(@Model.memberPagedList.PageIndex).addClass("active");
        $("ul > li > input.btn-previous-page").click(function () {
            if (@Model.memberPagedList.PageIndex > 0) {
                $("#PageNumber").val(@Model.memberPagedList.PageNumber -1);
                return true;
            }
            else {
                return false;
            }
        });
        $("ul > li > input.btn-next-page").click(function () {
            if ((@Model.memberPagedList.PageIndex) < (@Model.memberPagedList.PageCount-1)) {
                $("#PageNumber").val(@Model.memberPagedList.PageNumber + 1);
                return true;
            }
            else {
                return false;
            }
        });

        $("input.btn-search").click(function(){
            $("#PageNumber").val(1);
            return true;
        });
    });

</script>