@using CCIA2.Models
@model CCIA2.Models.ViewModels.MemberSearchViewModel

@{
    var user = @Session[SessionKey.USER] as SysUser;
}
<input type="hidden" id="userRole" value="@user.role"/>

<div class="bs-component">
    <ul class="nav nav-tabs">
        <li class=""><a href="#tab_memberType1" id="li-memberType1" data-toggle="tab" aria-expanded="true">經紀仲介學員會員</a></li>
        @if (user.role != 2)
        {
            <li class=""><a href="#tab_memberType2" id="li-memberType2" data-toggle="tab" aria-expanded="true">歷屆會員</a></li>
            <li class=""><a href="#tab_memberType3" id="li-memberType3" data-toggle="tab" aria-expanded="true">一般會員</a></li>
        }
    </ul>
    <div class="tab-content  member_bg">
        <div id="tab_memberType1" class="fade tab-pane ">
            @using (Html.BeginForm("Index", "Member", FormMethod.Post, htmlAttributes: new { @id = "form-memberType1" }))
            {
                <input type="hidden" name="memberTypeNo" value="1" id="hidden-memberTypeNo"/>
                <div class="container">
                    @if (user.role != 2)
                    {
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.searchText, htmlAttributes: new { @class = "form-control", @id="textBox-searchText", @placeholder = "請輸入會員編號, 姓名, Email, 或身分證字號" })
                        </div>
                    }
                    <div class="col-sm-2">
                        @Html.DropDownListFor(model => model.step, (IEnumerable<SelectListItem>)ViewBag.stepList, htmlAttributes: new { @class = "form-control", id = "select-step" })
                    </div>
                    @if (user.role != 2)
                    {
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.group, (IEnumerable<SelectListItem>)ViewBag.groupList, htmlAttributes: new { @class = "form-control", id = "select-group" })
                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="group" value="@user.group" />
                    }
                    <div class="col-sm-2">
                        @Html.DropDownListFor(model => model.enrollType, (IEnumerable<SelectListItem>)ViewBag.enrollTypeList, htmlAttributes: new { @class = "form-control", id = "select-enrollType" })
                    </div>
                    <div class="col-md-2 pull-right">
                        <input type="submit" value="查詢" class="btn btn-primary btn-search" />
                        
                    </div>
                </div>

                <br />
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().mrNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().mrName)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().MemberGroupApply)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().FirstAssignGroup)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().FinalGroup)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().firstTrailScore)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().secondTrailAvgScore)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().currentState)</th>
                            <th class=""><input type="button" value="下載報表" class="btn btn-info" id="btn-downloadMemberReport"/></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.memberPagedList != null)
                        {
                            foreach (var item in Model.memberPagedList)
                            {
                                if (item.mrMemberTypesqno != 1) { continue; }
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.mrNumber)</td>
                                    <td>@Html.ActionLink(item.mrName, "Details", new { sqno = item.sqno }, htmlAttributes: new { target = "_blank" })</td>
                                    <td>@Html.DisplayFor(modelItem => item.MemberGroupApply.FirstOrDefault().First)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FirstAssignGroup)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FinalGroup)</td>
                                    <td>@Html.DisplayFor(modelItem => item.firstTrailScore)
                                        @if (item.numberOfFristTrailScore > 0)
                                        {
                                            @Html.Raw("(" + item.numberOfFristTrailScore + ")")
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.secondTrailAvgScore)
                                        @if (item.numberOfSecondTrailScore > 0)
                                        {
                                            @Html.Raw("(" + item.numberOfSecondTrailScore + ")")
                                        }                                        
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.currentState)</td>
                                    <td>
                                        @if (user.role == 1) 
                                        {
                                            if (item.MemberGroupResult == null || item.MemberGroupResult.Count == 0) // 待審核
                                            {
                                                @Html.ActionLink("資格審", "QualificationVerify", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default a-newWindow" })
                                            }
                                            else if (item.MemberGroupResult.Count(res => res.AppraiseStep > 1 && res.AppraiseNo == user.accountNo) == 0 &&
                                                     item.MemberGroupResult.Count(res => res.AppraiseStep >= 3) == 0) // 通過資格審
                                            {
                                                @Html.ActionLink("變更組別", "ChangeGroup", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default a-newWindow" })
                                                @Html.ActionLink("初審", "FirstTrail", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default a-newWindow" })
                                            }
                                            else if (item.MemberGroupResult.LastOrDefault().AppraiseStep == 2) // 完成初審
                                            {
                                                <input type="button" value="正取" class="btn btn-default btn-Admission" sqno="@item.sqno" />
                                                <input type="button" value="進入複審" class="btn btn-default btn-SecondTrail" sqno="@item.sqno" />
                                                <input type="button" value="未錄取" class="btn btn-default btn-Flunk" sqno="@item.sqno" />
                                            }
                                            else if (item.MemberGroupResult.Count(res => res.AppraiseStep > 3 && res.AppraiseNo == user.accountNo) == 0 &&
                                                     item.MemberGroupResult.Count(res => res.AppraiseStep >= 3) == 0) // 進行複審
                                            {
                                                @Html.ActionLink("複審", "SecondTrail", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default a-newWindow" })
                                            }
                                            else if (item.MemberGroupResult.LastOrDefault().AppraiseStep == 4) // 完成複審
                                            {
                                                @Html.ActionLink("正/備取", "Admit", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default a-newWindow" })
                                                <input type="button" value="未錄取" class="btn btn-default btn-Flunk" sqno="@item.sqno" />
                                            }
                                            else if (item.MemberGroupResult.LastOrDefault().AppraiseStep == 5) // 正/備取名單
                                            {
                                                if (Int32.Parse(item.mrRole) == 1)
                                                {
                                                    <input type="button" value="已繳8000" class="btn btn-default btn-Pay" sqno="@item.sqno" />
                                                }
                                                if (Int32.Parse(item.mrRole) == 2)
                                                {
                                                    <input type="button" value="已繳4000" class="btn btn-default btn-Pay" sqno="@item.sqno" />
                                                }
                                                <input type="button" value="未繳保證金" class="btn btn-default btn-NotPay" sqno="@item.sqno" />
                                            }
                                            else if (item.MemberGroupResult.LastOrDefault().AppraiseStep == 7) // 未通過
                                            {
                                                <input type="button" value="轉為一般會員" class="btn btn-default btn-convertToGeneralMember" sqno="@item.sqno" />
                                            }
                                        }
                                        else if (user.role == 2)
                                        {
                                            if (item.MemberGroupResult.Count(res => res.AppraiseStep > 1 && res.AppraiseNo == user.accountNo) == 0) // 通過資格審
                                            {
                                                @Html.ActionLink("初審", "FirstTrail", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default a-newWindow" })
                                            }
                                            else if (item.MemberGroupResult.Count(res => res.AppraiseStep > 3 && res.AppraiseNo == user.accountNo) == 0) // 進行複審
                                            {
                                                @Html.ActionLink("複審", "SecondTrail", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default a-newWindow" })
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                if (Model.memberTypeNo == 1)
                {
                    @Html.HiddenFor(model => model.pageNumber, htmlAttributes: new { @id = "PageNumber" })
                    <ul class="pagination">
                        @if (Model != null && Model.memberPagedList != null)
                        {
                            <li class=""><input type="submit" value=&laquo; class="btn-previous-page" /></li>
                            for (int i = 1; i <= Model.memberPagedList.PageCount; i++)
                            {
                                <li><input type="submit" value=@i class="btn-page" /></li>
                            }
                            <li class=""><input type="submit" value=&raquo; class="btn-next-page" /></li>
                            <text>共 @Model.memberPagedList.TotalItemCount 筆資料</text>
                        }
                    </ul>
                }
            }
        </div>
        <div id="tab_memberType2" class="fade tab-pane ">
            @using (Html.BeginForm("Index", "Member", FormMethod.Post, htmlAttributes: new { @id = "form-memberType2" }))
            {
                <input type="hidden" name="memberTypeNo" value="2" />
                <div class="container">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.searchText, htmlAttributes: new { @class = "form-control", @placeholder = "請輸入會員編號, 姓名, Email, 或身分證字號" })
                    </div>
                    <div class="col-md-2 pull-right">
                        <input type="submit" value="查詢" class="btn btn-primary btn-search" />
                    </div>
                </div>
                <br />
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().mrNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().mrName)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.memberPagedList != null)
                        {
                            foreach (var item in Model.memberPagedList)
                            {
                                if (item.mrMemberTypesqno != 2) { continue; }
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.mrNumber)</td>
                                    <td>@Html.ActionLink(item.mrName, "Details", new { sqno = item.sqno }, htmlAttributes: new { target = "_blank" })</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                if (Model.memberTypeNo == 2)
                {
                    @Html.HiddenFor(model => model.pageNumber, htmlAttributes: new { @id = "PageNumber" })
                    <ul class="pagination">
                        @if (Model != null && Model.memberPagedList != null)
                        {
                            <li class=""><input type="submit" value=&laquo; class="btn-previous-page" /></li>
                            for (int i = 1; i <= Model.memberPagedList.PageCount; i++)
                            {
                                <li><input type="submit" value=@i class="btn-page" /></li>
                            }
                            <li class=""><input type="submit" value=&raquo; class="btn-next-page" /></li>
                            <text>共 @Model.memberPagedList.TotalItemCount 筆資料</text>
                        }
                    </ul>
                }
            }
        </div>
        <div id="tab_memberType3" class="fade tab-pane ">
            @using (Html.BeginForm("Index", "Member", FormMethod.Post, htmlAttributes: new { @id = "form-memberType3" }))
            {
                <input type="hidden" name="memberTypeNo" value="3" />
                <div class="container">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.searchText, htmlAttributes: new { @class = "form-control", @placeholder = "請輸入會員編號, 姓名, Email, 或身分證字號" })
                    </div>
                    <div class="col-md-2 pull-right">
                        <input type="submit" value="查詢" class="btn btn-primary btn-search" />
                    </div>
                </div>
                <br />
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().mrNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.memberPagedList.FirstOrDefault().mrName)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.memberPagedList != null)
                        {
                            foreach (var item in Model.memberPagedList)
                            {
                                if (item.mrMemberTypesqno != 3) { continue; }
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.mrNumber)</td>
                                    <td>@Html.ActionLink(item.mrName, "Details", new { sqno = item.sqno }, htmlAttributes: new { target = "_blank" })</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                if (Model.memberTypeNo == 3)
                {
                    @Html.HiddenFor(model => model.pageNumber, htmlAttributes: new { @id = "PageNumber" })
                    <ul class="pagination">
                        @if (Model != null && Model.memberPagedList != null)
                        {
                            <li class=""><input type="submit" value=&laquo; class="btn-previous-page" /></li>
                            for (int i = 1; i <= Model.memberPagedList.PageCount; i++)
                            {
                                <li><input type="submit" value=@i class="btn-page" /></li>
                            }
                            <li class=""><input type="submit" value=&raquo; class="btn-next-page" /></li>
                            <text>共 @Model.memberPagedList.TotalItemCount 筆資料</text>
                        }
                    </ul>
                }
            }
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        // 決定要顯示的頁籤
        $("#li-memberType"+@Model.memberTypeNo).trigger("click");

        // 當審查popup視窗關閉時，重新搜尋
        $("#form-memberType1").find("a.a-newWindow").click(function(event) {
            event.preventDefault();
            var popup = window.open($(this).prop("href"), "_blank");
            //var popup = window.open($(this).prop("href"), "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=100,left=100,width=800,height=600");
            var loop = setInterval(function() {
                if(popup.closed) {
                    clearInterval(loop);
                    $("#form-memberType1").submit();
                }
            }, 500);

            return false;
        });

        // 控制顯示 組別 下拉選單
        var userRole = parseInt($("#userRole").val());
        $("#form-memberType1").find("#select-step").on('change', function() {
            var selectState = $("#form-memberType1").find("#select-step").val();
            if (selectState == 1 || selectState == 2 || selectState == 4 || selectState == 5 || selectState == 6) {
                $("#form-memberType1").find("#select-group").removeClass("hidden");
                $("#form-memberType1").find("#select-group").removeAttr("disabled");
            } else {
                $("#form-memberType1").find("#select-group").addClass("hidden");
                $("#form-memberType1").find("#select-group").attr("disabled", "disabled");
            }
        });

        // 控制顯示下拉選單(全部/正取/備取)
        $("#form-memberType1").find("#select-step").on('change', function() {
            var selectState = $("#form-memberType1").find("#select-step").val();
            if (selectState == 5 || selectState == 6) {
                $("#form-memberType1").find("#select-enrollType").removeClass("hidden");
                $("#form-memberType1").find("#select-enrollType").removeAttr("disabled");
            } else {
                $("#form-memberType1").find("#select-enrollType").addClass("hidden");
                $("#form-memberType1").find("#select-enrollType").attr("disabled", "disabled");
            }
        });
        $("#form-memberType1").find("#select-step").trigger("change");

        // 初審直接正取
        $("#form-memberType1").find(".btn-Admission").click(function() {
            if(confirm("送出後將無法再修改，確定要送出?"))
            {
                var data = {sqno : $(this).attr("sqno")};
                $.post(
                    "@Url.Content("~/Member/Admission")",
                    data,
                    function (res) {
                        if (typeof(res.errorMessage) != 'undefined') {
                            alert(res.errorMessage);
                        } else {
                            alert(res.message);
                            $("#form-memberType1").submit();
                        }
                    },
                    "json"
                );
            }
        });

        // 進入複審
        $("#form-memberType1").find(".btn-SecondTrail").click(function() {
            if(confirm("送出後將無法再修改，確定要送出?"))
            {
                var data = {sqno : $(this).attr("sqno")};
                $.post(
                    "@Url.Content("~/Member/IntoSecondTrail")",
                    data,
                    function (res) {
                        if (typeof(res.errorMessage) != 'undefined') {
                            alert(res.errorMessage);
                        } else {
                            alert(res.message);
                            $("#form-memberType1").submit();
                        }
                    },
                    "json"
                );
            }
        });

        // 未錄取
        $("#form-memberType1").find(".btn-Flunk").click(function() {
            if(confirm("送出後將無法再修改，確定要送出?"))
            {
                var data = {sqno : $(this).attr("sqno")};
                $.post(
                    "@Url.Content("~/Member/Flunk")",
                    data,
                    function (res) {
                        if (typeof(res.errorMessage) != 'undefined') {
                            alert(res.errorMessage);
                        } else {
                            alert(res.message);
                            $("#form-memberType1").submit();
                        }
                    },
                    "json"
                );
            }
        });

        // 已繳保證金
        $("#form-memberType1").find(".btn-Pay").click(function() {
            if(confirm("送出後將無法再修改，確定要送出?"))
            {
                var data = {sqno : $(this).attr("sqno"), hasPaiedDeposit : true};
                $.post(
                    "@Url.Content("~/Member/PayDeposit")",
                    data,
                    function (res) {
                        if (typeof(res.errorMessage) != 'undefined') {
                            alert(res.errorMessage);
                        } else {
                            alert(res.message);
                            $("#form-memberType1").submit();
                        }
                    },
                    "json"
                );
            }
        });

        // 未繳保證金
        $("#form-memberType1").find(".btn-NotPay").click(function() {
            if(confirm("送出後將無法再修改，確定要送出?"))
            {
                var data = {sqno : $(this).attr("sqno"), hasPaiedDeposit : false};
                $.post(
                    "@Url.Content("~/Member/PayDeposit")",
                    data,
                    function (res) {
                        if (typeof(res.errorMessage) != 'undefined') {
                            alert(res.errorMessage);
                        } else {
                            alert(res.message);
                            $("#form-memberType1").submit();
                        }
                    },
                    "json"
                );
            }
        });

        //轉為一般會員
        $("#form-memberType1").find(".btn-convertToGeneralMember").on('click', function() {
            if(confirm("確定要轉為一般會員?轉換後將無法再修改!"))
            {
                var data = {memberSqno : $(this).attr("sqno")};
                $.post(
                    "@Url.Content("~/Member/convertToGeneralMember")",
                    data,
                    function (res) {
                        //alert(JSON.stringify(res));
                        if (typeof(res.errorMessage) != 'undefined') {
                            alert(res.errorMessage);
                        } else {
                            alert("轉換完成");
                            $("#form-memberType1").submit();
                        }
                    },
                    "json"
                );
            }
        });
    });

</script>
<script>
    // 下載報表
    $(document).ready(function () {
        $("#btn-downloadMemberReport").click(function () {
            //alert("download click");
            try {
                var searchText = $("#textBox-searchText").val();
                var memberTypeNo = $("#hidden-memberTypeNo").val();
                var step = $("#select-step").val();
                var group = $("#select-group").val();
                var enrollType = $("#select-enrollType").val();
                var url = "/Member/DownloadReport?searchText=" + searchText + "&memberTypeNo=" + memberTypeNo + "&step=" + step + "&group=" + group + "&enrollType=" + enrollType;
                //alert(url);
                window.location.href = url;
                return true;
            }
            catch (e) {
                return false;
            }
        });
    });
</script>
<script>
    // 分頁相關設定
    $(document).ready(function () {
        $("ul > li > input").addClass("btn btn-default btn-sm");
        $("ul > li > input.btn-page").click(function () {
            $("#PageNumber").val($(this).attr("value"));
            return true;
        });

        $("ul > li > input.btn-page").eq(@Model.memberPagedList.PageIndex).addClass("active");
        $("ul > li > input.btn-previous-page").click(function () {
            if (@Model.memberPagedList.PageIndex > 0) {
                $("#PageNumber").val(@Model.memberPagedList.PageNumber -1);
                return true;
            }
            else {
                return false;
            }
        });
        $("ul > li > input.btn-next-page").click(function () {
            if ((@Model.memberPagedList.PageIndex) < (@Model.memberPagedList.PageCount-1)) {
                $("#PageNumber").val(@Model.memberPagedList.PageNumber + 1);
                return true;
            }
            else {
                return false;
            }
        });

        $("input.btn-search").click(function(){
            $("#PageNumber").val(1);
            return true;
        });
    });

</script>