@model CCIA2.Models.ViewModels.CourseExamResultViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="/Scripts/jquery.bpopup.min.js"></script>
    <style>
        .correctAnswer { color:#42d745; }
        .wrongAnswer { color:#ff0000; }
        .noAnswer { color:#ffd800; }
    </style>
</head>
<body>
    <div>
        <div class="member_bg form-horizontal">
            <div class="container">
                <div class="col-md-3">
                    <label>@Html.DisplayNameFor(model => model.student.mrNumber) : </label>
                    @Html.DisplayFor(model => model.student.mrNumber)
                </div>
                <div class="col-md-3">
                    <label>@Html.DisplayNameFor(model => model.student.mrName) : </label>
                    @Html.DisplayFor(model => model.student.mrName)
                </div>
                <div class="col-md-3">
                    <label>@Html.DisplayNameFor(model => model.student.memberType) : </label>
                    @Html.DisplayFor(model => model.student.memberType.membertypename)
                </div>
            </div>
            <br />
            <h3>學習評量</h3>
            <div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>@Html.DisplayNameFor(model => model.qaList.FirstOrDefault().question.title)</th>
                            <th>@Html.DisplayNameFor(model => model.qaList.FirstOrDefault().question.q)</th>
                            <th class="col-md-5">@Html.DisplayNameFor(model => model.qaList.FirstOrDefault().question.optionList)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.qaList != null)
                        {
                            for (int i=0; i < Model.qaList.Count; i++)
                            {
                                CCIA2.Models.MemberQAnswer qa = Model.qaList[i];
                                <tr>
                                    <td>@Html.Raw(i+1)</td>
                                    <td>@Html.DisplayFor(x => qa.question.title)</td>
                                    <td>@Html.DisplayFor(x => qa.question.q)</td>
                                    <td>
                                        @if (qa.ans == null || qa.ans == "")
                                        {
                                            <label class="noAnswer">尚未作答</label><br />
                                        }
                                        @for (int o = 0; o < qa.question.optionList.Count; o++)
                                        {
                                            <label class=@( int.Parse(qa.question.ans) == (o + 1) ? "correctAnswer" : (qa.ans == (o + 1).ToString() ? "wrongAnswer" : "") )>
                                                <input type="radio" disabled="disabled" @(qa.ans == (o + 1).ToString() ? "checked='checked'" : "") />
                                                @qa.question.optionList[o]
                                            </label>
                                            <br />
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
