@model CCIA2.Models.ViewModels.CourseRelativeViewModel
@using CCIA2.Models
@{
    var user = @Session[SessionKey.USER] as SysUser;
}

<div class="bs-component">
    <ul class="nav nav-tabs">
        <li class=""><a href="#tab_courseForGroups" id="tabLink-courseForGroups" data-toggle="tab" aria-expanded="true">各組須修課程</a></li>
        <li class=""><a href="#tab_courseList" id="tabLink-courseList" data-toggle="tab" aria-expanded="true">分項課程列表</a></li>
        <li class=""><a href="#tab_teacherList" id="tabLink-teacherList" data-toggle="tab" aria-expanded="true">講師列表</a></li>
    </ul>
    <div class="tab-content  member_bg">

        @*//各組須修課程*@
        <div id="tab_courseForGroups" class="fade tab-pane ">
            @using (Html.BeginForm("Index", "Course", FormMethod.Post, htmlAttributes: new { @id = "form-search-courseGroup" }))
            {
                @Html.HiddenFor(model => model.tabId, htmlAttributes: new { @class = "hidden-tabId" })
                <div class="container">
                    <div class="col-sm-2">
                        @Html.DropDownListFor(model => model.courseGroupViewModel.groupSqno, (IEnumerable<SelectListItem>)ViewBag.groupList, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="查詢" class="btn btn-primary btn-search" />
                    </div>
                    <div class="col-sm-3 pull-right">
                        @Html.ActionLink("新增各組須修課程", "CreateCourseGroup", null, htmlAttributes: new { @class = "btn btn-info bpopup", target = "_blank" })
                    </div>
                </div>
                <br />
                <div class="">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => Model.courseGroupViewModel.courseGroupList.FirstOrDefault().tableGroup)</th>
                                <th>@Html.DisplayNameFor(x => Model.courseGroupViewModel.courseGroupList.FirstOrDefault().courseClass)</th>
                                <th>@Html.DisplayNameFor(x => Model.courseGroupViewModel.courseGroupList.FirstOrDefault().electiveString)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.courseGroupViewModel != null && Model.courseGroupViewModel.courseGroupList != null)
                            {
                                foreach (var item in Model.courseGroupViewModel.courseGroupList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.tableGroup.GroupName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.courseClass.name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.electiveString)</td>
                                        <td>
                                            @if (user.role == 1)
                                            {
                                                @Html.ActionLink("編輯", "EditCourseGroup", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default bpopup" })
                                                @Html.ActionLink("刪除", "DeleteCourseGroup", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-danger btn-delete" })
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        @*//分項課程列表*@
        <div id="tab_courseList" class="fade tab-pane ">
            @using (Html.BeginForm("Index", "Course", FormMethod.Post, htmlAttributes: new { @id = "form-search-course" }))
            {
                @Html.HiddenFor(model => model.tabId, htmlAttributes: new { @class = "hidden-tabId" })
                <div class="container">
                    <div class="col-sm-2">
                        @Html.DropDownListFor(model => model.courseViewModel.courseClassSqno, (IEnumerable<SelectListItem>)ViewBag.courseClassList, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-sm-2">
                        @Html.TextBoxFor(model => model.courseViewModel.day, htmlAttributes: new { @class = "form-control calendarBox", @placeholder = "日期"})
                    </div>
                    <div class="col-sm-5">
                        @Html.TextBoxFor(model => model.courseViewModel.searchText, htmlAttributes: new { @class = "form-control", @placeholder = "請輸入課程主題或講題" })
                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="查詢" class="btn btn-primary btn-search" />
                    </div>
                    <div class="col-sm-2 pull-right">
                        @Html.ActionLink("新增課程", "CreateCourse", null, htmlAttributes: new { @class = "btn btn-info bpopup", target = "_blank" })
                    </div>
                </div>
                <br />
                <div class="">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => Model.courseViewModel.CoursePagedList.FirstOrDefault().courseClass)</th>
                                <th>@Html.DisplayNameFor(x => Model.courseViewModel.CoursePagedList.FirstOrDefault().topic)</th>
                                <th class="col-sm-3">@Html.DisplayNameFor(x => Model.courseViewModel.CoursePagedList.FirstOrDefault().day)</th>
                                <th>@Html.DisplayNameFor(x => Model.courseViewModel.CoursePagedList.FirstOrDefault().hour)</th>
                                <th>@Html.DisplayNameFor(x => Model.courseViewModel.CoursePagedList.FirstOrDefault().teachers)</th>
                                <th>@Html.DisplayNameFor(x => Model.courseViewModel.CoursePagedList.FirstOrDefault().title)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.courseViewModel != null && Model.courseViewModel.CoursePagedList != null)
                            {
                                foreach (var item in Model.courseViewModel.CoursePagedList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(x => item.courseClass.name)</td>
                                        <td>@Html.DisplayFor(x => item.topic)</td>
                                        <td>
                                            @Html.DisplayFor(x => item.day)
                                            @Html.DisplayFor(x => item.startTime) ~ @Html.DisplayFor(x => item.endTime)
                                        </td>
                                        <td>@Html.DisplayFor(x => item.hour)</td>
                                        <td>
                                            @foreach (var teacher in item.teachers)
                                            {
                                                <p>@Html.DisplayFor(x => teacher.teacher.name)</p>
                                            }
                                        </td>
                                        <td>@Html.DisplayFor(x => item.title)</td>
                                        <td>
                                            @if (user.role == 1)
                                            {
                                                @Html.ActionLink("編輯", "EditCourse", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default bpopup" })
                                                @Html.ActionLink("刪除", "DeleteCourse", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-danger btn-delete" })
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    @Html.HiddenFor(model => model.courseViewModel.pageNumber, htmlAttributes: new { @class = "PageNumber" })
                    <ul class="pagination">
                        @if (Model != null && Model.courseViewModel != null && Model.courseViewModel.CoursePagedList != null)
                        {
                            <li class=""><input type="submit" value=&laquo; class="btn-previous-page" /></li>
                            for (int i = 1; i <= Model.courseViewModel.CoursePagedList.PageCount; i++)
                            {
                                <li><input type="submit" value=@i class="btn-page" /></li>
                            }
                            <li class=""><input type="submit" value=&raquo; class="btn-next-page" /></li>
                            <text>共 @Model.courseViewModel.CoursePagedList.TotalItemCount 筆資料</text>
                        }
                    </ul>
                </div>
            }
        </div>
        @*//講師列表*@
        <div id="tab_teacherList" class="fade tab-pane ">
            @using (Html.BeginForm("Index", "Course", FormMethod.Post, htmlAttributes: new { @id = "form-search-courseTeacher" }))
            {
                @Html.HiddenFor(model => model.tabId, htmlAttributes: new { @class = "hidden-tabId" })
                <div class="container">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.teacherViewModel.searchText, htmlAttributes: new { @class = "form-control", @placeholder = "請輸入講師姓名或所屬單位名稱" })
                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="查詢" class="btn btn-primary btn-search" />
                    </div>
                    <div class="col-sm-2 pull-right">
                        @Html.ActionLink("新增講師", "CreateTeacher", null, htmlAttributes: new { @class = "btn btn-info bpopup", target = "_blank" })
                    </div>
                </div>
                <br />
                <div class="">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.teacherViewModel.teacherPagedList.FirstOrDefault().name)</td>
                                <td>@Html.DisplayNameFor(model => model.teacherViewModel.teacherPagedList.FirstOrDefault().orgName)</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.teacherViewModel != null && Model.teacherViewModel.teacherPagedList != null)
                            {
                                foreach (var item in Model.teacherViewModel.teacherPagedList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.orgName)</td>
                                        <td class="col-sm-1">
                                            @if (user.role == 1)
                                            {
                                                @Html.ActionLink("編輯", "EditTeacher", new { sqno = item.sqno }, htmlAttributes: new { @class = "btn btn-default bpopup", target = "_blank" })
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                    @Html.HiddenFor(model => model.teacherViewModel.pageNumber, htmlAttributes: new { @class = "PageNumber" })
                    <ul class="pagination">
                        @if (Model != null && Model.teacherViewModel != null && Model.teacherViewModel.teacherPagedList != null)
                        {
                            <li class=""><input type="submit" value=&laquo; class="btn-previous-page" /></li>
                            for (int i = 1; i <= Model.teacherViewModel.teacherPagedList.PageCount; i++)
                            {
                                <li><input type="submit" value=@i class="btn-page" /></li>
                            }
                            <li class=""><input type="submit" value=&raquo; class="btn-next-page" /></li>
                            <text>共 @Model.teacherViewModel.teacherPagedList.TotalItemCount 筆資料</text>
                        }
                    </ul>
                </div>
            }
        </div>

    </div>
</div>

@Html.Partial("~/Views/Shared/BPopupWin.cshtml")
<script src="/Scripts/jquery.bpopup.min.js"></script>
<script>
    $(document).ready(function () {
        tabSetting();
        courseListPaggingSetting();
        teacherListPaggingSetting();
        bPopupSetting();
        deleteCourseGroupSetting();
    });
</script>

@*頁籤相關設定, 讓頁籤可以在搜尋後停留在原本的頁籤*@
<script>
    function tabSetting() {
        $("#tabLink-courseForGroups").click(function(){
            $(".hidden-tabId").val($(this).attr("id"));
        });

        $("#tabLink-courseList").click(function(){
            $(".hidden-tabId").val($(this).attr("id"));
        });

        $("#tabLink-teacherList").click(function(){
            $(".hidden-tabId").val($(this).attr("id"));
        });

        var selectedTabId =  $(".hidden-tabId").val();
        if (selectedTabId == '') {
            $("#tabLink-courseForGroups").trigger("click");
        }
        else {
            $("#"+selectedTabId).trigger("click");
        }
    }
</script>

@*[分項課程列表]頁籤的分頁相關設定*@
<script>
    function courseListPaggingSetting() {
        $("#tab_courseList").find("ul > li > input").addClass("btn btn-default btn-sm");

        $("#tab_courseList").find("ul > li > input.btn-page").click(function () {
            $("#tab_courseList").find(".PageNumber").val($(this).attr("value"));
            return true;
        });

        $("#tab_courseList").find("ul > li > input.btn-page").eq(@Model.courseViewModel.CoursePagedList.PageIndex).addClass("active");
        $("#tab_courseList").find("ul > li > input.btn-previous-page").click(function () {
            if (@Model.courseViewModel.CoursePagedList.PageIndex > 0) {
                $("#tab_courseList").find(".PageNumber").val(@Model.courseViewModel.CoursePagedList.PageNumber -1);
                return true;
            }
            else {
                return false;
            }
        });
        $("#tab_courseList").find("ul > li > input.btn-next-page").click(function () {
            if ((@Model.courseViewModel.CoursePagedList.PageIndex) < (@Model.courseViewModel.CoursePagedList.PageCount-1)) {
                $("#tab_courseList").find(".PageNumber").val(@Model.courseViewModel.CoursePagedList.PageNumber + 1);
                return true;
            }
            else {
                return false;
            }
        });

        $("#tab_courseList").find("input.btn-search").click(function(){
            $("#tab_courseList").find(".PageNumber").val(1);
            return true;
        });
    }
</script>

@*[講師列表]頁籤的分頁相關設定*@
<script>
    function teacherListPaggingSetting() {
        $("#tab_teacherList").find("ul > li > input").addClass("btn btn-default btn-sm");

        $("#tab_teacherList").find("ul > li > input.btn-page").click(function () {
            $("#tab_teacherList").find(".PageNumber").val($(this).attr("value"));
            return true;
        });

        $("#tab_teacherList").find("ul > li > input.btn-page").eq(@Model.teacherViewModel.teacherPagedList.PageIndex).addClass("active");
        $("#tab_teacherList").find("ul > li > input.btn-previous-page").click(function () {
            if (@Model.teacherViewModel.teacherPagedList.PageIndex > 0) {
                $("#tab_teacherList").find(".PageNumber").val(@Model.teacherViewModel.teacherPagedList.PageNumber -1);
                return true;
            }
            else {
                return false;
            }
        });
        $("#tab_teacherList").find("ul > li > input.btn-next-page").click(function () {
            if ((@Model.teacherViewModel.teacherPagedList.PageIndex) < (@Model.teacherViewModel.teacherPagedList.PageCount-1)) {
                $("#tab_teacherList").find(".PageNumber").val(@Model.teacherViewModel.teacherPagedList.PageNumber + 1);
                return true;
            }
            else {
                return false;
            }
        });

        $("#tab_teacherList").find("input.btn-search").click(function(){
            $("#tab_teacherList").find(".PageNumber").val(1);
            return true;
        });
    }
</script>

@*bPopup視窗相關設定*@
<script>
    function bPopupSetting() {
        $(".bpopup").click(function(event) {
            event.preventDefault();
            var url = $(this).prop("href");
            //alert(url);
            var formObject = $(this).closest('form');

            $('#div-bPopupWin').bPopup({
                loadUrl: url, //Uses jQuery.load()
                scrollBar: true,
                escClose: false,
                onClose: function() {
                    //alert("bpopup on close ");
                    //$("form").submit();
                    formObject.submit();
                }
            },
            function() {
                //alert('Callback fired');
            });

            return false;
        });
    }
</script>

@*刪除"各組須修課程"功能設定*@
<script>
    function deleteCourseGroupSetting() {
        $("#form-search-courseGroup").find(".btn-delete").click(function (event){
            event.preventDefault();
            if(confirm("確定要刪除？"))
            {
                var url = $(this).prop("href");
                //alert(url);
                var formObject = $(this).closest('form');

                $.post(
                    url,
                    null,
                    function(res){
                        if (res.success) {
                            alert("刪除成功");
                            formObject.submit();
                        } else {
                            if (typeof (res.errorMessage) != 'undefined') {
                                alert(res.errorMessage);
                            }
                        }
                    },
                    "json"
                );
            }

            return false;
        });
    }
</script>